body{
    background-color: rgb(240, 193, 193);

}





h1.docu{
    color:white;
    font-size: 60px;    
}


h5.dicord_link{
    text-decoration: rgb(255, 255, 255);
    text-decoration-color: rgb(233, 233, 233);
    font-size: 100000x;      
}

